h1, p {
  font-family: Lato;
}
#root, body, html {
  width:100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100vh;
  background: #EEE;
  .contanier {
    width: 1000px;
    margin: 0 auto;
  }
}