.m-head {
  width: 100%;
  height: 60px;
  line-height: 50px;
  color: #FFF;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
  position: fixed;
  top: 0;
  left: 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .u-icon {
    width: 200px;
    font-size: 20px;
    flex-shrink: 0;
    color: #FFF;
    padding: 0 10px;
    letter-spacing: 10px;
  }
  .u-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-right: 10px;
    .u-menu-link {
      display: inline-block;
      margin: 0 5px;
    }
  }
}
